:root {
  --dark-cyan: #30c1bc; /*tiny boxes*/
  --dark-coral: #1D8A99; /*model card*/
  --dark-lavender: #7C77B9; /* header*/
  --dark-thistle: #8FBFE0; /*backgroiund*/
  --dark-khaki: #0BC9CD; /*tiny tiny boxes*/

  --h2-color: rgb(181, 37, 37);

  --c-action-primary: #2e44ff;
	--c-action-primary-accent: #e9e5ff;
	--c-action-secondary: #e5e5e5;
	--c-text-primary: #0d0f21; 
	--c-text-secondary: #6a6b76;
	--c-background-primary: #f8f8f8;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--dark-thistle);
    background-image: url('background.png');
    /* Make sure the image covers the whole page */
    background-size: 50%;
    /* Set the background to no-repeat if you don't want it to tile */
    background-repeat: no-repeat;
    /* Fix the background image so it doesn't move when the content scrolls */
    background-attachment: fixed;
  }
  
  .sidebar {
    background-color: #8E7AB5;
    color: white;
    width: 250px;
    padding: 20px;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 120px;
    padding-top: 50px;
    
  }
  
  .header {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .metrics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .metric {
    background-color: #9c88ff;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .trend-chart, .sales-chart {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
  }
  
  .transactions, .support-tickets, .customer-demographics {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .sidebar {
    background-color: var(--dark-lavender);
    color: #ffffff;
    width: 98%; /* Span the full width of the page */
    padding: 10px 20px; /* Adjust padding as needed */
    display: flex;
    flex-direction: row; /* Align items in a row instead of a column */
    justify-content: space-between; /* Distribute space between and around content items */
    align-items: center; /* Center items vertically */
    height: 50px; /* Adjust height as necessary */
    position: fixed; /* Keep it fixed at the top of the page */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    z-index: 1000; /* Ensure it stays on top of other content */
  }

  
  .logo-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px; /* Adjust spacing as necessary */
  }
  
  .logo {
    max-width: 100px;
    height: auto;
  }
  
  .navigation {
    flex-grow: 1;
  }
  
  .navigation-menu {
    display: flex;
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    color: #eaeaea;
  }
  
  .navigation-menu .menu-item {
    margin-right: 20px; /* Add some space between the items */
  }
  
  /* Optional: Remove margin on the last item */
  .navigation-menu .menu-item:last-child {
    margin-right: 0;
  }
  
  .navigation-menu .menu-item a:hover {
    background-color: #403b62; /* Adjust hover color as necessary */
  }
  
  .logout-container {
    text-align: center;
    margin-top: 10px; /* Adjust spacing as necessary */
  }
  
  .logout-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px; /* Adjust font size as necessary */
    transition: color 0.3s ease;
    margin-bottom: 10px;
  }
  
  .logout-link:hover {
    color: #c7bddb; /* Adjust hover color as necessary */
  }
  
  .content {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin-left: 250px; /* Assuming the sidebar is 250px wide */
  }
  
  .content > div {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  
  h2 {
    color: #312450;
    margin-bottom: 15px;
  }
  
  .chart {
    height: 250px; /* Adjust as needed for your chart library */
    background-color: #eaeaea; /* Placeholder style */
  }
  
  .transactions {
    background-color: #ffffff;
  }
  
  .transaction-list {
    list-style: none;
    padding: 0;
  }
  
  .transaction-list li {
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
  }
  
  .view-all {
    background-color: #9c88ff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .support-tickets {
    background-color: #ffffff;
  }
  
  .ticket-categories button {
    padding: 10px;
    margin-right: 5px;
    background-color: #eaeaea;
    border: none;
    cursor: pointer;
  }
  
  .ticket-list {
    list-style: none;
    padding: 0;
  }
  
  .ticket-list li {
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
  }
  
  .customer-demographic {
    background-color: #ffffff;
  }
  
  .map {
    height: 300px; /* Adjust as needed for your map library */
    background-color: #eaeaea; /* Placeholder style */
  }
  
  /* model css */

  .model-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between model blocks */
  }
  
  .model-block {
    background-color: var(--dark-coral); /* Dark background for each block */
    padding: 5px;
    border-radius: 20px;
    margin: 10px;
    color: #E4D9FF; /* Light purple for text */
    cursor: pointer;
  }
  
  .model-info h2 {
    color: #273469; /* Color for model titles */
    font-weight: bolder;
  }
  
  .model-info p {
    color: #ffffff; /* Color for model descriptions */
  }
  
  .average {
    color: #4dea5c; /* Light purple color for average */
  }
  
  .very-good {
    color: #2cf90d; /* Light purple color for very good */
  }
  
  .model-metrics {
    display: flex;
    gap: 20px;
  }
  
  .metric {
    text-align: center;
  }
  
  .metric-value {
    font-size: 2em; /* Large font size for metric values */
    color: #FAFAFF; /* Color for metric numbers */
  }
  
  .model-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
  
  .model-actions button {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    color: #273469; /* Dark blue for buttons */
    background-color: var(--dark-khaki); /* Light purple for button backgrounds */
    cursor: pointer;
  }
  
  .model-actions button:hover {
    background-color: #30343F; /* Dark hover color */
    color: #FAFAFF; /* Text color on hover */
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    flex: 25%;
    padding: 20px;
  }

  .gauge-container {
    display: flex;
    justify-content: space-around; /* Adjust as necessary for spacing */
    align-items: center;
  }
  
  .gauge {
    text-align: center;
    position: relative;
  }
  
  .gauge-value {
    font-size: 3rem; /* Large font size for gauge numbers */
    font-weight: bold;
  }
  
  .gauge-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem; /* Adjust as necessary */
  }
  
  .info-circle {
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background-color: #1E2749; /* Dark blue circle */
    color: #FAFAFF; /* White text */
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-style: normal;
    font-size: 0.8rem;
    cursor: pointer;
  }
  .table-container {
    width: 100%;
    max-width: 1500px; /* Adjust the max width as needed */
    margin: auto;
  }
  
  .line {
    height: 2px;
    background-color: #000; /* Line color */
    margin: 20px 0;
  }
  
  .custom-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 20px 0; /* Space above and below the table */
  }
  
  .custom-table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
  }
  
  .col-40 {
    width: 43%;
    background-color: #008B8B; /* Dark Cyan color */
  }
  
  .col-20 {
    width: 14%;
    padding: 0; /* Remove padding for the inner table */
  }
  
  .inner-table {
    width: 100%;
    height: 100%;
  }
  
  .bubble {
    width: 80px;
    height: 80px;
    background-color: #f4b4b4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto; /* Center the bubble in the cell */
    box-shadow: 0px 0px 10px #000; /* Optional: Adds a shadow to the bubble */
  }
  
  .rounded-corners {
    border-radius: 15px;
  }
  
  /* Optional: If you want to ensure that no borders are visible on the table */
  .custom-table, .custom-table td, .inner-table, .inner-table td {
    border: none;
  }
  .nameheading {
    color: var(--dark-lavender);
    font-size: large;
    font-weight: bolder;
  }

  .namecontent {
    color: var(--dark-cyan);
  }
  
  
.datasets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.scrollable {
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling */
  margin-bottom: 20px; /* Spacing between components */
}
.dataset-row {
  display: flex;
  justify-content: space-between; /* Space out dataset containers */
  flex-wrap: wrap; /* Allow the items to wrap to the next line as needed */
  margin-bottom: 10px; /* Spacing between rows */
}

.dataset {
  width: 30%; /* Each dataset takes up 1/3 of the row */
  margin-bottom: 20px; /* Add spacing between wrapped items */
  border: 1px solid #ccc;
  border-radius: 15px; /* Rounded corners */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.112); /* Optional: shadow for depth */
  background: white; /* Light background color for datasets */
}


.upload-form-container {
  width: 95%; /* Set the form width */
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px;
  align-items: center;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label, form input, form textarea, form button {
  margin-bottom: 10px; /* Spacing between form elements */
  width:95%;
  color: #000;
}

form input, form textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px; /* Rounded corners */
}

form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px; /* Rounded corners */
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}



body {
	font-family: "Inter", sans-serif;
	color: var(--c-text-primary);
	background-color: var(--c-background-primary);	
	line-height: 1.5;
}

input, button, select, textarea {
	font: inherit;
}

.modal {
	width: 90%;
	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	margin-bottom: 10vh;
	background-color: #FFF;
	border-radius: .5rem;
	box-shadow: 0 5px 15px rgba(#000, .2); 
}

.modal-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1.5rem 1.5rem 1rem;
}

.logo-circle {
	width: 3.5rem;
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--c-action-primary-accent);
	svg {
		max-width: 1.5rem;
	}
}

.btn-close {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.25rem;
	height: 2.25rem;
	border-radius: .25rem;
	border: none;
	background-color: transparent;
	&:hover, &:focus {
		background-color: var(--c-action-primary-accent);
	}
}

.modal-body {
	padding: 1rem 1.5rem;
}

.modal-title {
	font-weight: 700;
}

.modal-description {
	color: var(--c-text-secondary);
}

.upload-area {
	margin-top: 1.25rem;
	border: none;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ccc' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	background-color: transparent;
	padding: 3rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	&:hover, &:focus {
      color: white;
      background-color: transparent;
			}
} 

.upload-area-icon {
	display: block;
	width: 2.25rem;
	height: 2.25rem;
	svg {
		max-height: 100%;
		max-width: 100%;
	}
}

.upload-area-title {
	margin-top: 1rem;
	display: block;
	font-weight: 700;
		color: var(--c-text-primary);
}

.upload-area-description {
		display: block;
		color: var(--c-text-secondary);
	strong {
		color: var(--c-action-primary);
		font-weight: 700;
	}
}

.modal-footer {
	padding: 1rem 1.5rem 1.5rem;
	display: flex;
	justify-content: flex-end;
	[class*="btn-"] {
		margin-left: .75rem;
	}
}

.btn-secondary, .btn-primary {
	padding: .5rem 1rem;
	font-weight: 500;
	border: 2px solid var(--c-action-secondary);
	border-radius: .25rem;
	background-color: transparent;
}

.btn-primary {
	color: #FFF;
	background-color: var(--c-action-primary);
	border-color: var(--c-action-primary);
}